body {
    font-family: 'Arial', sans-serif;
   background-color: #6aa6c2;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

h1 {
    margin-bottom: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    border-color: #74ebd5; /* Highlight color */
}

button {
    background-color: #cb1055;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #218838;
    transform: translateY(-2px); /* Lift effect */
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}